@{
    ViewData["Title"] = "Home Page";
}
<div class="section home-bg">
    <div class="home-container">
        <div class="row home-row">
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection", "Home", new { id = 1 })"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 2 })"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 3 })"><div class="home-link"></div></a>
            </div>
        </div>
        <div class="row home-row">
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 4 })"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 5 })"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 6 })"><div class="home-link"></div></a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 7 })"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 8 })"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home",new { id = 9 })"><div class="home-link"></div></a>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Partials/Basket.cshtml" />