@{
    ViewData["Title"] = "Home Page";
}
<div class="section home-bg">
    <div class="home-container">
        <div class="row home-row">
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","Americano")"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","Late")"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","FlatWhite")"><div class="home-link"></div></a>
            </div>
        </div>
        <div class="row home-row">
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","ConPanna")"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","Mocha")"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","Macchiato")"><div class="home-link"></div></a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","IrishCoffee")"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","Affogato")"><div class="home-link"></div></a>
            </div>
            <div class="col-md-4 home-col">
                <a href="@Url.Action("Selection","Home","Espresso")"><div class="home-link"></div></a>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Partials/Basket.cshtml" />